<div class="merch_container">
  <div class="merch_description">
    <p>Buy a new <%= name = "House" %></p>
    <p>priced at only $ <%= formatted_balance(balance = 200000) %></p>
  </div>
<div class="merch_purchase_options">
<button class="open-button" onclick="openForm()">Debit Card</button>
 <div class="form-popup" id="myForm">
  <%= form_with class: "form-container" do |f| %>
    <%= f.button "Close", type: 'button', class: "btn cancel", onclick: "closeForm()" %>

    <%= f.label :card_number, "card number" %>
    <%= f.text_field :card_number, placeholder: '0000000000000000' %>
    
    <%= f.submit "Purchase", disable_with: 'Purchasing...' %>
   
  <% end %>
</div> 


<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>
    <button>buy with credit card</button>
    <button>apply for loan</button>
  </div>
</div>

<%= store_greeting('house', '2000') %> 
<%# render partial in merchandise folder with passed in params from hash i guess %>
