<!DOCTYPE html>
<html>
  <head>
    <title>BankingPowPow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <header>
 
  <div id="site-header-container" class="container">
    <% if session[:user_id].present? %>
      <a href="<%= user_accounts_path(session[:user_id]) %>" class="sccu-logo-link">
    <%else%>
      <a href="<%= root_path %>" class="sccu-logo-link">
    <%end%>
      <div class="sccu-logo">
        SCCU 
      </div>
    </a>
    
    <div class="header-options">
        <%= link_to "Logout", logout_path unless current_page?('/') %>
    </div>
    
    
  </div> 

  </header>

  <body>
    <div class="main"> 
      <div class="dashboard"> 
     

    <%= yield %>
    
      </div>
    </div>
  </body>
</html>
