<div class="user_accounts">
   <p><%=@user.first_name.pluralize%> Accounts</p>
   
    <%= render partial: 'account', locals: {collection: @user.accounts} %>
    <%= render partial: 'account', locals: {collection: @user.credit_cards} %>
    <%= render partial: 'account', locals: {collection: @user.loans} %>

</div>

<%= link_to 'Create Account', new_user_account_path(@user), class: 'register' %>
<%= link_to 'Apply for Credit Card', new_card_path, class: 'register' %>